<main>
  <h1>WINNER</h1>  
  <img src="<%= generate_image_link %>" alt="hangman">
  <pre><%= show_hidden_word %></pre>
  <form action="/">
    <input type="submit" value="Try again">
  </form>  
</main>